<div class="container">
<h1><%= @wiki.title %></h1>

<% if (@wiki.private && current_user && current_user!=@wiki.user) || @wiki.private && !current_user %>
    <h4>Sorry this is a private Wiki.</h4>
<% else %>
    <div class="row">
        <div class="col-md-8">
            <%= markdown(@wiki.body) %>
            <small>
                created by <%= @wiki.user.email %> at <%= @wiki.created_at %>
            </small>
        </div>
    
        <div class="col-md-4">
            <% if policy(@wiki).update? %>
                <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
                <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
            <% end %>
        </div>
    </div>
<% end %>
</div>
